@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;

}

:root {
    --primary-color : #2563EB;
    --secondry-color :  #BFDBFE;
}

.navbar{
    background-color: var(--primary-color);
    color: white;
    padding: 0, 1rem;
    width: auto;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}

.brand-name{
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 2rem;

}
.navbar-list{
    list-style: none;
    text-align: right;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.navbar-list-item{
    display: inline;
    padding-left: 0.5rem;
}

.hero-img{
   margin: auto;
}

.hero-heading{
    text-align: center;
    margin: 0.5rem, 0;

}

.card-one{
    text-align: center;
    background-color: var(--secondry-color);
    height: 200px;
    padding-top: 100px;
}

.card-two{
    text-align: center;
    background-color: white;
    height: 200px;
    padding-top: 100px;
}

.card-three{
    text-align: center;
    background-color: var(--secondry-color);
    height: 200px;
    padding-top: 100px;
}

.link-primary{
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;   
    text-decoration: none;
   
}

.link-primary:hover{
    background-color: var(--secondry-color);
}


h2{
    font-size: xx-large;
}

.footer{
    height: 100px;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem, 0;
    
}

.footer-list{
    list-style: none;
    color: white;
    
}

.footer-list-item{
    display: inline;
    color: white;
    font-size: 40px;
    padding-left: 0.5rem;
}