@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;

}

.navbar{
    background-color:  #2563EB;
    color: white;
    padding: 1rem;
}

